@media only screen 
and (max-width : 1023px)  {
    body {
        .columns {
            padding-left: 60px;
            padding-right: 60px;
        }

        a.mobileMenuIcon {
            display: inline-block;
            height: 34px;
            position: absolute;
            right: 25px;
            top: 25px;
            width: 35px;

            > div {
                background: #ffffff;
                display: inline-block;
                height: 1px;
                left: 0;
                position: relative;
                transition: .3s;
                width: 35px;

                &:before,
                &:after {
                    background: #ffffff;
                    display: inline-block;
                    content: '';
                    height: 1px;
                    left: 0;
                    position: absolute;
                    top: -10px;
                    transition: .3s;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    width: 30px;
                }

                &:after {
                    top: auto;
                    bottom: -10px;
                }
            } 

            &.active {
                > div {
                    background: none;

                    &:before,
                    &:after {
                        transform-origin: 50% 50%;
                        bottom: 0;
                        top:0;
                        width: 35px;
                    }

                    &:before {
                        -webkit-transform: rotate3d(0,0,1,45deg);
                        -moz-transform: rotate3d(0,0,1,45deg);
                        -o-transform: rotate3d(0,0,1,45deg);
                        -ms-transform: rotate3d(0,0,1,45deg);
                        transform: rotate3d(0,0,1,45deg);
                    }

                    &:after {
                        -webkit-transform: rotate3d(0,0,1,-45deg);
                        -moz-transform: rotate3d(0,0,1,-45deg);
                        -o-transform: rotate3d(0,0,1,-45deg);
                        -ms-transform: rotate3d(0,0,1,-45deg);
                        transform: rotate3d(0,0,1,-45deg);
                    }
                }
            }
        }

        #mainMenuWrapper {
            display: block;
            
            #mainMenu {
                display: none;
            }
        }
    }

    #mobileMenuWrapper {
        height: 100%;
        left: 0;
        margin-right: 90px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;

        #mobileMenu {
            background: #272b33;
            display: table;
            height: 100%;
            position: relative;
            width: 100%;

            > div {
                display: table-cell;
                vertical-align: middle;

                ul {
                    list-style: none;
                    padding: 0 90px;
                    margin: 0;

                    li a {
                        display: block;
                        padding: 10px 0;
                    }

                    .socialMedia {
                        display: inline-block;
                    }
                }
            }
        }
    }

    #homepageWrapper {
        padding: 30px 0;

        #introductionContent,
        #projectWrapper {
            padding: 30px 0;
        }
    }
}