@media only screen 
and (max-width : 1023px)  {
    body {
        .columns {
            padding-left: 60px;
            padding-right: 60px;
        }

        a.mobileMenuIcon {
            display: inline-block;
            height: 34px;
            position: absolute;
            right: 25px;
            top: 25px;
            width: 35px;

            > div {
                background: #ffffff;
                display: inline-block;
                height: 1px;
                left: 0;
                position: relative;
                transition: .3s;
                width: 35px;

                &:before,
                &:after {
                    background: #ffffff;
                    display: inline-block;
                    content: '';
                    height: 1px;
                    left: 0;
                    position: absolute;
                    top: -10px;
                    transition: .3s;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    width: 30px;
                }

                &:after {
                    top: auto;
                    bottom: -10px;
                }
            } 
        }

        #mainMenu {
            position: relative;
            text-align: left;

            ul {
                display: none;

                li {
                    writing-mode: horizontal-tb;
                }
            }
        }

        #mainMenu.active {
            width: 165px;

            ul {
                li {
                    a {
                        padding: 10px 25px;
                    }
                }

                li.socialMedia {
                    display: block;
                    padding: 10px 25px;
                    text-align: center;
                }
            }
        }
    }
}